/* Write your CSS here */
.part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.para {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}
.delete {
  background-color: transparent;
  height: 40px;
  width: 30px;
}
.horizontal-line {
  height: 2px;
  background-color: #475569;
  width: 100%;
}
